footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 50px;
  width: 100%;
  @media (max-width: 767px) {
    margin-top: 10px;
    max-width: 767px;
    width: 100%;
  }

  .kasa-logo {
    width: 122px;
    height: 40px;
  }

  p {
    color: white;
    font-size: 24px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}
