header {
  width: 100%;
  max-width: 1023px;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 57px 0px 57px 0px;
  @media (max-width: 767px) {
    margin: 20px 5px 20px 5px;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1023px) {
    margin: 20px 5px 20px 20px;
  }

  .headerActive {
    text-decoration: underline;
  }

  img {
    height: 60%;
    @media (max-width: 767px) {
      max-width: 125px;
      margin-top: 0;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 309px;
    @media (max-width: 767px) {
      margin-right: 0px;
      max-width: 50%;
      padding: 0;
      justify-content: baseline;
    }
  }

  a {
    text-decoration: none;
  }

  h2 {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}
