.mainInformations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 400px) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .titleLocalisation {
    h2 {
      color: #ff6060;
      font-size: 36px;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 0px;
    }

    p {
      color: black;
      font-size: 18px;
      font-weight: 500;
      margin-top: 0px;
    }
  }

  .seller {
    display: flex;
    @media (max-width: 400px) {
      position: absolute;
      top: 115%;
      left: 43%;
    }

    p {
      color: #ff6060;
      margin-right: 10px;
      font-size: 18px;
    }
    .imageSeller {
      width: 64px;
      height: 64px;
      border-radius: 64px;
    }
  }
}
