.pictures {
  text-align: center;
  position: relative;

  @media (max-width: 400px) {
    max-width: 370px;
    margin-top: 0;
  }

  .slider {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 100%;
    @media (max-width: 767px) {
      max-width: 90%;
      margin-top: 0;
    }
    @media (max-width: 1023px) {
      max-width: 90%;
      margin-top: 0;
    }
  }

  .previousButton {
    position: absolute;
    top: 40%;
    height: 75px;
    left: 0%;
    transform: rotate(270deg);
    @media (max-width: 1023px) {
      left: 5%;
    }
    @media (max-width: 767px) {
      left: 5%;
    }
  }
  .nextButton {
    position: absolute;
    top: 40%;
    height: 75px;
    left: 92%;
    transform: rotate(90deg);
    @media (max-width: 1023px) {
      left: 87%;
    }
    @media (max-width: 767px) {
      left: 81%;
    }
  }
  .imageCounter {
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
  }
}
