.pictures {
  text-align: center;
  position: relative;

  .slider {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 1240px;
  }

  .previousButton {
    position: absolute;
    top: 40%;
    height: 75px;
    left: 93%;
    transform: rotate(90deg);
  }
  .nextButton {
    position: absolute;
    top: 40%;
    height: 75px;
    left: 0%;
    transform: rotate(-0.25turn);
  }
}
