.toggleButton {
  flex-direction: column;

  @media (max-width: 767px) {
    width: 100%;
    align-items: center;
  }
  @media (max-width: 1023px) {
    width: 100%;
    align-items: center;
  }

  .descriptionToggle {
    margin-bottom: 10px;
    width: 100%;
    @media (max-width: 767px) {
      padding-left: 2%;
      margin: 20px auto auto auto;
    }
    @media (max-width: 1023px) {
      padding-left: 2%;
      margin: 20px auto auto auto;
    }
  }
}

.body {
  font-family: 'Montserrat';

  .banner {
    img {
      filter: none;
    }
  }

  button {
    width: 45%;
    font-size: 24px;
    @media (max-width: 767px) {
      width: 97%;
    }
  }

  .descriptionText {
    width: 45%;
    @media (max-width: 767px) {
      width: 97%;
    }
  }
  .descriptionElement {
    width: 45%;
    @media (max-width: 767px) {
      width: 97%;
    }
  }
}
