.toggleButton {
  flex-direction: column;
  width: 1000px;
  @media (max-width: 400px) {
    width: 400px;
    align-items: center;
  }

  .descriptionToggle {
    margin-bottom: 10px;
    @media (max-width: 400px) {
      margin-top: 20px;
    }
  }
}

.body {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;

  .banner {
    img {
      filter: none;
    }
  }

  button {
    width: 1000px;
    font-size: 24px;
    @media (max-width: 400px) {
      width: 370px;
    }
  }

  .descriptionText {
    width: 1000px;
    @media (max-width: 400px) {
      width: 365px;
    }
  }
  .descriptionElement {
    width: 1000px;
    @media (max-width: 400px) {
      width: 365px;
    }
  }
}
