html {
  margin: 0 auto;
  overflow-x: hidden;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1023px) {
    width: 100%;
  }
}
#root {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1023px) {
    width: 100%;
  }
}
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1023px) {
    width: 100%;
  }
}
