@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
}

.body {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;

    img {
      border-radius: 25px;
      filter: brightness(0.5);
    }

    .banner__text {
      font-size: 40px;
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }

  .container_card {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 50px 100px 0px 100px;
    padding: 56px 30px 0px 30px;
  }
}
